/* header styles */
@import "base";

.header {
	background:$accent-color;
	margin:0 0 $base-padding-size 0;
	padding-top:$base-padding-size;
	position:relative;
	overflow:hidden;
	@include box-shadow(darken($accent-color, 12%) 0 -1px 5px inset, rgba(0,0,0,0.15) 0 1px 0 inset);

	/* small header traingle */
	.triangle {
		color:$base-color;
		margin:0;
		padding:0;
		line-height:7px;
		margin-top:15px;
		font-size:28px;
		@include text-shadow(darken($accent-color, 12%) 0 -2px 3px);
		@include scaleY(0.75);
	}
}