/* instafeed styles */
@import "base";

#instafeed a {
  bottom:0px;
  position: relative;
  margin:0 15px 15px 0;
  border-bottom:none;
  @include inline-block;
  @include transition-property(bottom);
  @include transition-duration(150ms);
  @include transition-timing-function(ease-in);

  @media (max-width: 320px) {
    margin: 0 10px 10px 0;
  }
}

#instafeed a:hover {
  bottom:5px;
}

#instafeed img {
  width:142px;
  height:142px;
  @include border-radius(3px);
  @media (max-width: 320px) {
    width: 134px;
    height: 134px;
  }
  @media (max-width: 480px) {
    width: 130px;
    height: 130px;
  }
}
