extends ../layouts/_base

block title
  | About - Steven Schobert

block meta
  - var desc = 'My name is Steven Schobert. I live in Dallas, TX, where I work with the awesome folks at Oven Bits making great mobile and web experiences.';

block content
  .about-image
    img(src='/images/photo.jpg')
  .page-wrapper
    .content-wrapper
      .page-title
        h2.heading-large
          | I'm a software developer
      .text-block
        :markdown
          My name is **Steven Schobert**. I live in Dallas, TX, where I work with the awesome
          folks at [Oven Bits](http://ovenbits.com) making beautiful native & web experiences.

          - [Twitter](https://twitter.com/stevenschobert)
          - [Github](https://github.com/stevenschobert)
          - [Instagram](https://instagram.com/stevenschobert)
          - [Dribbble](https://dribbble.com/stevenschobert)

          ### About this site

          This site is built on [Node.js](http://nodejs.org) & [CouchDB](http://couchdb.apache.org).
          Text is set in [Bitter](https://www.google.com/fonts/specimen/Bitter) by Google fonts.

          I'm not much of a designer, so when it came to the look and feel of this site, I borrowed
          lots of elements from other great sites around the web I admire.

          - [Jonnie Hallman](http://destroytoday.com)
          - [Svbtle](https://svbtle.com)
          - [Dan Eden](http://daneden.me/)
