extends ../layouts/_admin

block title
  | Login

block content
  .page-wrapper
    .login-section
      .login-form-header
        h3 Login
      .login-messages
        include ../partials/_messages
      .login-form
        form.pure-form.pure-form-stacked(action='/session', method='post')
          input(type='hidden', name='error_url', value=request.path + ((request.queryString) ? '?'+request.queryString : ''))
          input(type='hidden', name='success_url', value=request.params.return_path ? request.params.return_path : '/')

          fieldset
            label Email
            input(type='email', name='email')

            label Password
            input(type='password', name='password')

          fieldset
            input.pure-button.pure-button-primary(type='submit', value='Submit')
