extends ../layouts/_base
include ../mixins/_posts_list

block title
  | Writings - Steven Schobert

block meta
  - var desc = 'A collection of writings on software development, technology, and life.';

block content
  .page-wrapper
    .content-wrapper
      .page-title
        h2.heading-large.heading-with-subheading Writings
        .subheading on software, technology & life
      .posts-in-year-section
        each posts_in_year in posts
          .posts-in-year
            .posts-in-year-title= posts_in_year.year
            +posts_list(posts_in_year.posts)

