extends ../layouts/_base

block title
  = post.title
  |&nbsp;- Steven Schobert

block meta
  - var desc = post.description || '';

block content
  .page-wrapper
    .post
      .post-heading
        h2.post-title= post.title
        .post-meta
          .post-date= post.published_at
          .post-color
            .post-color-block(style='background-color: '+post.color+'; border-color: '+post.color)
            .post-color-label= post.color
      .text-block.post-content!= post.body
