.post {
  @extend .content-wrapper;
}

.post-heading {
  @extend .page-title;
  margin-bottom: $large-section-spacing;
}

.post-title {
  @extend .heading-large;
  @extend .heading-with-subheading;
  margin-left: .5em;
  margin-right: .5em;

  @include respond-to(medium) {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.post-meta {
  @extend .subheading;
}

.post-date {
  display: inline-block;

  &+ .post-color {
    margin-left: .7em;
    padding-left: 1.3em;

    &:before {
      background: $body-text-color-light;
      border-radius: 2px;
      content: '';
      display: block;
      height: 4px;
      left: 0;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 4px;
    }
  }
}

.post-color {
  display: inline-block;
  position: relative;
}

.post-color-block {
  border: 1px solid;
  border-radius: 3px;
  display: inline-block;
  height: 1em;
  margin-bottom: -1px;
  width: 1em;
}

.post-color-label {
  display: inline-block;
  margin-left: .25em;
}

.post-content {
  margin-top: ($large-section-spacing * 1.4);
}
