.posts-in-year-section {
  margin-bottom: $large-section-spacing * .5;
  margin-top: ($large-section-spacing * 1.5);
  overflow: hidden;
}

.posts-in-year {
  display: block;
  font-size: 1.15em;
  margin-top: ($large-section-spacing * 1.25);

  &:first-child {
    margin-top: 0;
  }

  @include respond-to(medium) {
    float: left;
    width: 47%;

    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(odd) {
      clear: both;
    }

    &:nth-child(even) {
      margin-left: 6%;
    }
  }
}

.posts-in-year-title {
  @extend .body-text;
  color: $body-text-color-light;
  font-size: .8em;
  font-style: italic;
}
