.body-text {
  color: $body-text-color;
  font-family: $body-font;
  font-size: $body-text-size;
  -webkit-font-smoothing: antialiased;
}

.body-paragraph {
  @extend .body-text;
  line-height: $body-text-size * 1.75;
}
