.text-divider {
  background: $subtle-border-color;
  border: 0;
  display: block;
  height: 1px;
  margin-left: $large-section-spacing;
  margin-right: $large-section-spacing;
  position: relative;
  text-align: center;

  &:after {
    background: #fff;
    color: $body-text-color-light;
    content: '\2022 \2022 \2022';
    font-size: .75em;
    height: 1.25em;
    left: 50%;
    letter-spacing: 5px;
    margin-left: -1.9em;
    margin-top: -.65em;
    padding: 0 1em;
    position: absolute;
    top: 50%;
    width: 2em;
  }
}
