.text-link {
  border-bottom: 1px solid $body-text-color-light;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;

  @include respond-to(medium) {
    &:hover {
      color: $body-text-color-light;
    }
  }
}
