$nav-width: 12em;
$nav-background: #2d2c37;
$nav-accent-color: #158fe7;
$nav-subtle-border: #3c3c3c;
$nav-subtle-text-color: #6c6c6c;
$nav-active-text-color: #fff;
$nav-medium-text-color: #ccc;

.nav {
  -webkit-backface-visibility: hidden;
  background: $nav-background;
  bottom: 0;
  padding: ($page-side-padding * 1.25) 0 7em;
  -webkit-perspective: 1000;
  position: fixed;
  top: 0;
  transform: translate3d(-($nav-width), 0, 0);
  transition-duration: .2s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.16, .68, .43, .99);
  width: $nav-width;
  z-index: 10;

  &.active {
    transform: translate3d(0, 0, 0);
  }

  @include respond-to(large) {
    transform: translate3d(0, 0, 0);
  }
}

.nav-toggle {
  background: $nav-background;
  border-left: 1px solid $nav-background;
  color: $nav-medium-text-color;
  display: block;
  height: 3.25em;
  position: relative;
  transform: translate3d(0, 0, 0);
  transition-duration: .2s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.16, .68, .43, .99);
  width: 3.25em;

  .nav-toggle-open-icon {
    font-size: 1.3em;
    -webkit-font-smoothing: antialiased;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.7em;
    position: absolute;
    top: 50%;
  }

  .nav-toggle-close-icon {
    display: none;
    font-size: 1.9em;
    -webkit-font-smoothing: antialiased;
    left: 50%;
    margin-left: -.3em;
    margin-top: -.7em;
    position: absolute;
    top: 50%;
  }

  &.active {
    border-color: $nav-subtle-border;
    transform: translate3d($nav-width, 0, 0);

    .nav-toggle-close-icon {
      display: block;
    }

    .nav-toggle-open-icon {
      display: none;
    }
  }

  @include respond-to(large) {
    display: none;
  }
}

.center-section {
  padding: 0 $page-side-padding;
  text-align: center;
  width: 100%;
}

.new-post-button {
  background: $nav-accent-color;
  border-radius: 1.5em;
  font-size: 85%;
  margin: ($large-section-spacing * .25) 0;
}

.nav-pages-list {
  margin: $large-section-spacing 0;
  max-width: 100%;
}

.nav-page {
  border-left: 3px solid $nav-background;
  color: $nav-subtle-text-color;
  display: block;
  margin: ($page-side-padding * .75) 0;
  padding: .25em $page-side-padding;
  text-decoration: none;
  width: 100%;

  &.active {
    border-color: $nav-accent-color;
    color: $nav-active-text-color;
  }
}

.nav-user-section {
  border-top: 1px solid $nav-subtle-border;
  bottom: 0;
  padding: $page-side-padding;
  position: absolute;
  width: 100%;
}

.nav-username {
  color: $nav-subtle-text-color;
  display: inline-block;
  font-size: .9em;
  margin-bottom: 1em;
  word-break: break-all;
}

.nav-username-name {
  color: $nav-medium-text-color;
}

.logout-button {
  font-size: 80%;
  width: 100%;
}
