extends ../layouts/_base

block title
  | Page Not Found - Steven Schobert

block content
  .page-wrapper
    .content-wrapper
      .page-title
        h2.heading-large
          | Page Not Found

      .text-block
        .full-image
          img(style='width: 100%', src='/images/buddy-bad-coffee.gif')

        p
          | The URL you used,&nbsp;
          code= request.path
          | &nbsp;doesn't have a page associated with it. Sorry about that.

        :markdown
          If there used to be a page here, or if you can't find what you're looking for,
          please [send me a tweet](https://twitter.com/stevenschobert) so I can get it straightened out.

