$page-side-padding: 1em;

$max-page-width: 46em;

$body-font: 'Bitter', serif;
$body-text-color: #333;
$body-text-color-dark: #222;
$body-text-color-light: #999;
$body-text-size: .95em;
$body-text-size-small: .85em;

$subtle-border-color: #f2f2f2;

$large-section-spacing: 1.5em;

$error-color: #ca3c3c;
$success-color: #43cb56;
