.header
  .page-wrapper
    %a.header-name{href: urlTo("/")} Steven Schobert

    .header-links{role: "navigation"}
      %a.header-link{href: urlTo("/projects")} Projects
      %a.header-link{href: urlTo("/about")} About
