!!! 5
  %head
    %title Placeholder

    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %link{rel: "stylesheet", href: urlTo("css/main.css")}
  %body

    .badge-wrapper
      %a.badge{href: urlTo("/")} S

    .page-buffer
      .preface
        .preface-text
          I'm
          %b
            %a{href: urlTo("/")}= "Steven Schobert"
            &nbsp;
          &mdash; programmer, photographer, husband, father, nerd.
        .preface-links
          .preface-link
            %a{href: "#"} About
          .preface-link
            %a{href: "#"} Twitter
          .preface-link
            %a{href: "#"} GitHub
          .preface-link
            %a{href: "#"} Archive
          .preface-link
            %a{href: "#"} RSS

    .page-buffer

      .page-title
        %h1= title

      .page-text
        != contents

    .page-footer
      .page-buffer
        .page-footer-text
          != "&copy; 2012-" + new Date().getFullYear() + " "
          Steven Schobert

    %script{src: "https://use.typekit.net/dmq5sis.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

    %script{src: "http://192.168.10.159:35729/livereload.js"}
