$badge-color: #e65239;

$max-page-width: 720px;

$small-buffer-size: 16px;
$medium-buffer-size: 30px;

$dark-copy-color: #2b2b2b;
$medium-copy-color: #4d4d4d;
$light-copy-color: #808080;
$lighter-copy-color: #b8b8b8;

$footer-background: #454549;
$footer-text-color: #9697A0;
