@import './variables';
@import './vendor/bootstrap/bootstrap';
@import './vendor/highlightjs_theme';
@import './vendor/magnific-popup';

.main {
  max-width: 40rem;
}

.main-box {
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 1px 1px rgba(0, 0, 0, .1);
}

.foot {
  max-width: 25rem;
}

.body-contents img {
  @extend .img-fluid;
  @extend .rounded;
  @extend .mx-auto;
  @extend .d-block;
}

.body-contents b,
.body-contents strong {
  font-weight: 600;
}

.body-contents pre {
  @extend .rounded;
}
