{% extends "main.html" %}

{% block page_title %}Not Found / Steven Schobert{% endblock %}

{% block page_content %}
	<div class="post" style="margin-bottom:0px;">
		<div class="title">
			<h2>Page not found :(</h2>
		</div>
		<p>The page you are looking for cannot be found. Please accept my cool, but probably pointless Instagram photos as a peace offering!</p>
		<p><blockquote>You can add Instagram to your own site too using <a href="http://instafeedjs.com">instafeed.js</a>!</blockquote></p>
		<p><div id="instafeed"></div></p>
	</div>

	<script type="text/javascript" src="/js/instafeed.min.js"></script>
	<script type="text/javascript">
		(function () {
			var myfeed = new Instafeed({
				limit: 12,
				get: 'user',
				userId: 4385108,
				accessToken: '4385108.467ede5.3307aa3bd61a4793b95d428d4c40c94f'
			}).run();
		})();
	</script>
{% endblock %}
