{% extends 'main.html' %}

{% block page_title %}About / Steven Schobert{% endblock %}

{% block page_content %}
	<div class="post">
		<div class="section-header">
			<h2>A little about me</h2>
		</div>
		<img width="300" style="margin-right:20px; margin-bottom:10px" class="pull-left" src="/img/avatar.jpg" />
		<p>
			Hey there! I'm a 22 year old <strong>developer and designer</strong> living in Dallas, Texas. I'm married to a <a href="https://twitter.com/brooklynrice">wonderful girl</a>, and occasionally <a href="http://500px.com/stevenschobert">take pictures</a> of things.
		</p>
		<p>
			<strong>I work with the fine folks at <a href="http://ovenbits.com">Oven Bits</a></strong>, make <a href="/projects">side projects</a>, and sometimes write words here on <a href="/blog">my blog</a>.
		</p>
		<p>
			I enjoy giving advice and collaborating with others. My time is pretty limited, but you can <a href="mailto:spschobert@gmail.com">email me</a> or <a href="http://twitter.com/stevenschobert">tweet me</a> and I'll get back to you as soon as I can.
		</p>
		<p>
			I'm on other places around the web too. You can see some of my designs on <a href="http://dribbble.com/stevenschobert">Dribbble</a>, code on <a href="http://github.com/stevenschobert">Github</a>, and follow me on <a href="http://twitter.com/stevenschobert">Twitter</a>.
		</p>
	</div>
	<p><div class="social-links">
		<a href="http://github.com/stevenschobert" title="see my code on GitHub" class="icon-social">github</a>
		<a href="http://twitter.com/stevenschobert" title="follow me on Twitter" class="icon-social">twitter</a>
		<a href="http://dribbble.com/stevenschobert" title="see my designs on Dribbble" class="icon-social">dribbble</a>
		<a href="http://500px.com/stevenschobert" title="see my photos on 500px" class="icon-social">fivehundred</a>
		<a href="mailto:spschobert@gmail.com" title="send me an email" class="icon-social">email</a>
	</div></p>
{% endblock %}
