{% extends 'main.html' %}

{% block page_title %}About me{% endblock %}

{% block page_content %}
	<div class="post">
		<div class="section-header">
			<h2>A little about me</h2>
		</div>
		<img width="300" style="margin-right:20px; margin-bottom:10px" class="pull-left" src="/img/avatar.jpg" alt="test" />
		<p>
			I am a 21 year old <strong>web developer and designer</strong> living in Dallas, Texas. I'm engaged to <a href="https://twitter.com/brooklynrice">a wonderful girl</a>, and I occasionaly sing &amp; play piano.
		</p>
		<p>
			When I'm not writing code for <a href="http://lockhartadvantage.com">Lockhart</a> and <a href="http://northcities.org">North Cities</a>, I'm <a href="/blog">writing words</a> on technology and other things.
		</p>
		<p>
			I currently hold a full-time job, but I am available for <strong>limited contract work</strong> and short-term projects. Feel free <a href="mailto:spschobert@gmail.com">email me</a> for availability.
		</p>
		<p>
			I'm on other places around the web too. You can see some of my designs on <a href="http://dribbble.com/stevenschobert">Dribbble</a>, code projects on <a href="http://github.com/stevenschobert">Github</a>, and follow me on twitter <a href="http://twitter.com/stevenschobert">Twitter</a>.
		</p>
	</div>
{% endblock %}