{% extends 'main.html' %}

{% block page_title %}Steven Schobert - Web Developer &amp; Designer{% endblock %}

{% block page_content %}
	<div class="post">
		<h2>Blog</h2>
		<p>This is where jot down notes on things like <a href="/blog/tagged/javascript">javascript</a>, <a href="/blog/tagged/tools">various tools</a>, and occasionally my<a href="/blog/tagged/personal"> personal life</a>. You can also check out my <a href="/projects">projects</a> and read <a href="/about">more about me</a>.</p>
	</div>

	<ul class="posts">
		{% for post in posts %}
			<li><a class="link-block" href="/blog/{{ post.link }}">
				<div class="post">
					<h3>{{ post.title }}</h3>
					<p>{{ post.desc|raw }}</p>
					<div class="meta">
						posted {{ post.date }}
					</div>
				</div>
			</a></li>
		{% endfor %}
	</ul>

	{% include "pagination.html" %}
{% endblock %}
