<div class="pagination">
	<ul>
		{% if page_current == 1 %}
			<li class="disabled">← Previous</li> 
		{% else %}
			<li><a href="/blog/{{ page_current - 1 }}">← Previous</a></li>
		{% endif %}

		{% if page_current <= 3 %}
			{% for i in range(1, page_count)|slice(0,5) %}
				{% if i == page_current %}
					<li>{{ i }}</li>
				{% else %}
					<li><a href="/blog/{{ i }}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}
		{% elseif page_current >= page_count - 2 %}
			{% set lower_limit = page_count - 4 %}
			{% for i in range(lower_limit, page_count) %}
				{% if i == page_current %}
					<li>{{ i }}</li>
				{% else %}
					<li><a href="/blog/{{ i }}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}
		{% else %}
			{% set previous = page_current - 2 %}
			{% set after = page_current + 2 %}
			{% for i in range(previous, after) %}
				{% if i == page_current %}
					<li>{{ i }}</li>
				{% else %}
					<li><a href="/blog/{{ i }}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}
		{% endif %}

		{% if page_current == page_count %}
			<li class="disabled">Next →</li> 
		{% else %}
			<li><a href="/blog/{{ page_current + 1 }}">Next →</a></li>
		{% endif %}
	</ul>
</div>