{% extends 'main.html' %}

{% block authorship %}<link rel="author" href="https://plus.google.com/u/0/107263002592733526184">{% endblock %}

{% block page_title %}{{ post.title }} / Steven Schobert{% endblock %}

{% block page_content %}
	<div class="post">
		<div class="title">
			<h2>{{ post.title }}</h2>
			<div class="meta">
				posted {{ post.date }}
				{% if post.tags|length > 0 %}
					in
					{% for tag in post.tags %}
						<a href="/blog/tagged/{{ tag }}">#{{ tag }}</a>{% if not loop.last %},{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		{{ post.html|raw }}
	</div>
{% endblock %}
