{% extends 'main.html' %}

{% block page_title %}Steven's Projects{% endblock %}

{% block page_content %}
  <div class="post">
    <h2>Instafeed.js</h2>
    <img src="/img/instafeedjs.jpg" alt="add Instagram to websites with Instafeed.js" />
    <p>Instafeed is a small javascript plugin for Instagram. I use it on my own <a href="/404">404 page</a>. It has a simple implementation and supports getting tagged/user/location images. Oh and of course it's <strong>free &amp; open source</strong>.
    <p><a href="http://instafeedjs.com"><span class="icon">w</span> instafeedjs.com</a></p>
  </div>
{% endblock %}
