include ../mixins/_project_tile

+project_tile('http://instafeedjs.com', 'Instafeed.js', 'a javascript plugin for Instagram')
+project_tile('https://github.com/RNCryptor/RNCryptor-go', 'RNCryptor-go', 'Go implementation of RNCryptor')

