---
layout: "default.haml"
title: "Page not found"
type: "page"
collection: "pages"
useCanonicalLinks: true
---

%p
  The page you requested couldn't be found.
%p
  If you were expecting something to be here, you can try reaching out to me on Twitter
  = " at "
  %a{ href: "https://twitter.com/stevenschobert" }@stevenschobert
  = "."
