---
layout: default.haml
title: Post Archives
---

.archive
  - each year in archive
    .archive-section
      .archive-year= year.year
      %ul
        - each post in year.data
          %li
            .archive-post-title
              %a{ href: urlTo(post) }
                = post.title
              - if (post.link) {
                %span.archive-year-link-type (link)
              - }
            .archive-post-date= printDate(post.date)
