---
layout: default.haml
---

.posts
  - each post in collections.posts.slice()
    .post
      .page-title
        %h1
          %a{ href: urlTo(post) }= post.title
        .page-date
          = printDate(post.date)

        %a.page-permalink{ title: "Permalink", href: urlTo(post) } &#8267;

      .page-text!= post.contents
    .post-separator &bull;&bull;&bull;
