---
layout: default.haml
---

.posts
  - each post in collections.posts.slice()
    .post
      .page-title
        %h1
          %a{ href: urlTo(post) }= post.title
        .page-date
          = printDate(post.date)

        %a.page-permalink{ href: urlTo(post) } &#9875;

      .page-text!= post.contents
