---
layout: default.haml
title: Posts
description: A collection of writings on software development, technology, and life.
---

.page-wrapper
  .content-wrapper
    .page-title
      %h2.heading-large.heading-with-subheading Posts
      .subheading on software, technology, & life
    .posts-in-year-section
      - each year in archive
        .posts-in-year
          .posts-in-year-title= year.year
          %ul.posts-list
            - each post in year.data
              - var postColor = post.color || "#eeeeee";
                %li{style: "border-color: "+ postColor}
                  %a{href: urlTo(post)}= post.title
