---
layout: default.haml
title: Projects
description: My collection of work, both open-source & otherwise.
---

.page-wrapper
  .content-wrapper
    .page-title
      %h2.heading-large.heading-with-subheading Work
      .subheading open-source & otherwise

    .text-block
      %h3 Featured

    .featured-projects
      %a.project-tile{href: "http://instafeedjs.com"}
        .project-tile-content
          .project-tile-title Instafeed.js
          .project-tile-subtitle a javascript plugin for Instagram
      %a.project-tile{href: "https://github.com/RNCryptor/RNCryptor-go"}
        .project-tile-content
          .project-tile-title RNCryptor-go
          .project-tile-subtitle Go implementation of RNCryptor
    .text-block
      %h3 Libraries

      %ul
        %li
          %a{ href: "https://github.com/stevenschobert/metalsmith-sass" } metalsmith-sass
        %li
          %a{ href: "https://github.com/stevenschobert/metalsmith-gravatar" } metalsmith-gravatar
        %li
          %a{ href: "https://github.com/stevenschobert/github-repo-element" } github-repo-element
        %li
          %a{ href: "https://github.com/stevenschobert/keylime" } keylime
        %li
          %a{ href: "https://github.com/stevenschobert/pimm" } pimm
