!!! 5
  %head
    %title test title

    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %link{rel: "stylesheet", href: urlTo("css/main.css")}
    %link{rel: "stylesheet", href: "//brick.a.ssl.fastly.net/Bitter:400,700,400i,700i"}
  %body

    != include("partials/test_partial.haml")

    != contents

