.badge {
  @include copy;
  background: $badge-color;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: lighter;
  height: 24px;
  line-height: 24px;
  padding-right: 5px;
  text-align: right;
  text-decoration: none;

  @include respond-to(max-width) {
    line-height: auto;
    height: auto;
    transform: translateY(-8px);
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
    padding-top: 18px;
    padding-right: 0;
    width: 24px;
    text-align: center;
    padding-bottom: 0px;

    &:hover {
      transform: translateY(0px);
    }
  }
}
