.home-summary {
  p {
    font-size: 1.15em;
  }
}

.home-summary-divider {
  margin-bottom: $large-section-spacing * 1.6;
  margin-top: $large-section-spacing * 1.5;
}

.featured-items {
  margin-bottom: $large-section-spacing;
}

.featured-posts {
  font-size: 1.15em;
}
