.preface-text {
  @include copy;
  color: $dark-copy-color;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.25em;

  a {
    color: inherit;
  }
}

.preface-links {
  @include copy;
  font-weight: normal;
  margin-top: $spacing-unit * 2;
}

.preface-link {
  display: inline-block;
  font-size: 14px;

  a {
    color: $light-copy-color;
  }

  &:before {
    color: $light-copy-color;
    content: "\2022";
    display: inline-block;
    font-size: 12px !important;
  }

  &:first-child:before {
    display: none;
  }
}
